body {
  font-family: Roboto, 'Helvetica', sans-serif;
}

core-list .row {
  height: 80px;
  padding: 16px;
}

core-list .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #00BCD4;
}
